body { background-color: #FCEBB6; color: #000000; font-style: Verdana, Arial, sans-serif;}

header {background-color: #D2B48C; text-indent: 1em;} /* come back to indentation*/

h1 {line-height: 350%; font-family: 'Reey-Regular', Georgia, serif;} 

nav {text-align: center; font-weight: bold;}

footer {background-color: #D2B48C; font-size: .60em; font-style: italic; text-align: center;}


#wrapper { margin-left: auto;
    margin-right: auto;
    width: 80%; }

@font-face {font-family: 'Reey-Regular';
    src: url('Reey-Regular.otf') format('opentype'),
    url('Reey-Regular.ttf') format('truetype'),
    url('Reey-Regular.woff') format('woff');
}